Using SQL to query the data and then convert it to csv files

In [10]:
from google.cloud import bigquery
import pandas as pd

In [11]:
client = bigquery.Client(location="US")
print("Client creating using default project: {}".format(client.project))

Client creating using default project: rugged-sunbeam-246218

Top 10 cities that have th most restaurants with > 100 reviews (Yelp Dataset doesn't have data for some of the bigger cities)

In [12]:
query = """
SELECT city, count(city) as counts
FROM `rugged-sunbeam-246218.reviews.all_yelp_businesses`
WHERE review_count>100
AND REGEXP_CONTAINS(categories, r'Restaurants')
GROUP BY city
ORDER BY count(city) desc
LIMIT 10
"""

In [13]:
client.query(query).to_dataframe()

         city  counts
0   Las Vegas    2353
1     Phoenix    1102
2     Toronto     933
3  Scottsdale     597
4   Charlotte     582
5  Pittsburgh     442
6       Tempe     332
7   Henderson     306
8    Chandler     294
9        Mesa     284

Chose 3 cities - Charlotte, Pittsburgh, Mesa

In [14]:
query_mesa = """
SELECT address,city,is_open,latitude,longitude,name,text,`rugged-sunbeam-246218.reviews.all_yelp_businesses`.stars, `rugged-sunbeam-246218.reviews.all_yelp_businesses`.business_id
FROM `rugged-sunbeam-246218.reviews.all_yelp_businesses`
     INNER JOIN `rugged-sunbeam-246218.reviews.all_yelp_reviews`
ON `rugged-sunbeam-246218.reviews.all_yelp_businesses`.business_id =
    `rugged-sunbeam-246218.reviews.all_yelp_reviews`.business_id
WHERE review_count>100
AND REGEXP_CONTAINS(categories, r'Restaurants')
AND city = "Mesa"

"""

In [15]:
query_pittsburgh = """
SELECT address,city,is_open,latitude,longitude,name,text,`rugged-sunbeam-246218.reviews.all_yelp_businesses`.stars, `rugged-sunbeam-246218.reviews.all_yelp_businesses`.business_id
FROM `rugged-sunbeam-246218.reviews.all_yelp_businesses`
     INNER JOIN `rugged-sunbeam-246218.reviews.all_yelp_reviews`
ON `rugged-sunbeam-246218.reviews.all_yelp_businesses`.business_id =
    `rugged-sunbeam-246218.reviews.all_yelp_reviews`.business_id
WHERE review_count>100
AND REGEXP_CONTAINS(categories, r'Restaurants')
AND city = "Pittsburgh"

"""

In [16]:
query_charlotte = """
SELECT address,city,is_open,latitude,longitude,name,text,`rugged-sunbeam-246218.reviews.all_yelp_businesses`.stars, `rugged-sunbeam-246218.reviews.all_yelp_businesses`.business_id
FROM `rugged-sunbeam-246218.reviews.all_yelp_businesses`
     INNER JOIN `rugged-sunbeam-246218.reviews.all_yelp_reviews`
ON `rugged-sunbeam-246218.reviews.all_yelp_businesses`.business_id =
    `rugged-sunbeam-246218.reviews.all_yelp_reviews`.business_id
WHERE review_count>100
AND REGEXP_CONTAINS(categories, r'Restaurants')
AND city = "Charlotte"

"""

Converting query to df and then to csv

In [17]:
mesa = client.query(query_mesa).to_dataframe()
charlotte = client.query(query_charlotte).to_dataframe()
pittsburgh = client.query(query_pittsburgh).to_dataframe()

In [18]:
mesa.to_csv("mesa_reviews.csv")
charlotte.to_csv("charlotte_reviews.csv")
pittsburgh.to_csv("pittsburgh_reviews.csv")